<html>
    <head>

    </head>
    <body>
        <a href="/signout">Signout</a>
        
        <br>
        <br>

        <a href="/show_contacts">View Contacts</a>
        <a href="/upload">Upload Contacts</a>

        <br><br>

        <h2>Contact Saved</h2>
    </body>
</html>