<html>
    <head>
        
    </head>
    <body>
        <a href="/signout">Signout</a>
        
        <br>
        <br>

        <a href="/show_contacts">View Contacts</a>
        <a href="/upload">Upload Contacts</a>
    </body>
        
</html>